<% if flash.any? %>
  <div flash timeout="2500" class="row">
    <div class="col-sm-6 col-sm-offset-3">
      <% if flash[:alert] %>
        <div class="alert alert-warning" role="alert"><%= flash[:alert] %></div>
      <% end %>

      <% if flash[:notice] %>
        <div class="alert alert-info" role="alert"><%= flash[:notice] %></div>
      <% end %>
    </div>
  </div>
<% end %>
